/*-------------------------------
--------- Add Note Form ---------
--------------------------------*/
.form--note {
  position: relative;
  background: #fefefe;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  max-width: 500px;
  padding: 12px;
  margin-bottom: 57px;
}

/*-------------------------------
------- Text Input Styles -------
--------------------------------*/
.input--title {
  font-family: inherit;
  font-weight: 700;
  border: none;
  width: 80%;
  margin-bottom: 16px;
}

.input--content {
  font-family: inherit;
  border: none;
  width: 100%;
  margin-bottom: 48px;
}

.input--tags {
  position: absolute;
  font-family: inherit;
  line-height: 100%;
  border: none;
  bottom: 12px;
  left: 12px;
  height: 12px;
  padding-bottom: 4px;
}

/*-------------------------------
--------- Button Styles ---------
--------------------------------*/
/* General Buttons  */
.button--add {
  position: absolute;
  background: none;
  border: none;
  bottom: 12px;
  right: 12px;
}

.button--submit {
  width: 14px;
}

/*-------------------------------
--------- Category Styles ---------
--------------------------------*/
.select-category {
  position: absolute;
  top: 12px;
  right: 0;
}

.select-category--button {
  margin-right: 4px;
}

label {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  margin-right: 16px;
}
