/*-------------------------------
------ Select Tags Styles -------
--------------------------------*/
.tags--text {
  font-size: 0.8rem;
  font-family: inherit;
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #898989;
  border: none;
}
