/*-------------------------------
----------- Main Area -----------
--------------------------------*/
.main-area {
  margin-left: 237px;
  padding: 44px;
  position: relative;
  height: calc(100vh - 310px);
}
