/*-------------------------------
--------- Navbar Styles ---------
--------------------------------*/
.navbar-area {
  margin-top: 156px;
  margin-left: 72px;
}

/*-------------------------------
---------- Navbar Items ---------
--------------------------------*/
.navbar-item,
.navbar-items--top {
  list-style-type: none;
}

.navbar-item {
  margin-top: 48px;
}

.navbar-items--top {
  margin-top: 8px;
}

.navbar-links--main {
  text-transform: uppercase;
  text-decoration: none;
  color: #e2e2e2;
  font-weight: 700;
  margin-top: 48px;
}

/* Categories  */
.categories-list {
  list-style-type: none;
  font-size: 0.87rem;
  font-weight: 700;
  color: #e2e2e2;
  line-height: 2;
}

.categories-item {
  display: flex;
  align-items: center;
}

.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
}

.work-dot {
  background-color: #c1292e;
}

.school-dot {
  background-color: #f9a03f;
}

.personal-dot {
  background-color: #5b5f97;
}

.holiday-dot {
  background-color: #119da4;
}

/*-------------------------------
-------- Subtitles Style --------
--------------------------------*/
.navbar-subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: #c8c8c8;
  margin-top: 48px;
}
