/*-------------------------------
------------ Note Card ----------
--------------------------------*/
.note-card {
  background: #fefefe;
  width: 257px;
  height: 226px;
  border-radius: 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  margin: 0 20px 20px 0;
}

/*-------------------------------
----------- Note Header ---------
--------------------------------*/
.note-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}

.note--title {
  font-size: 1rem;
  margin: 0;
  margin-left: 16px;
}

.date {
  font-size: 0.8rem;
  color: #9b9b9b;
  width: 200px;
  margin-left: 29px;
}

/*-------------------------------
---------- Note Content ---------
--------------------------------*/
.note-content {
  padding: 24px;
  position: relative;
  height: 100%;
}

.note-content--text {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
}

.note-content--tags {
  font-size: 0.75rem;
  position: absolute;
  bottom: 70px;
  left: 24px;
  color: #898989;
}

.note-content-time {
  background-color: #e7e7e7;
  border: 1px solid #c4c4c4;
  font-size: 0.75rem;
  position: absolute;
  bottom: 65px;
  right: 24px;
  padding: 4px 8px;
  border-radius: 40px;
}

/*-------------------------------
---- Completed Button Styles -----
--------------------------------*/
.button--completed {
  transform: scale(1.2);
}
